.map-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.map-canvas {
  width: 100%;
  height: 100%;
}


.overlay-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.search-box {
  pointer-events: auto;
  background: white;

  width: clamp(250px, 45vw, 700px);
  height: 40px;
  font-size: 18px;
  padding: 0.5em 1em;
  box-sizing: border-box;
  margin-top: -300px;
  border-radius: 1rem;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
}

.search-box input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: inherit;
  background: transparent;
}

@media (max-width: 600px) {
  .search-box {
    width: clamp(200px, 60vw, 700px);
  }
}
